/* 自己的基础样式 */
@import './normalize.css';

/* 是一个伪类选择器，用于获取项目的根元素 */
:root {
  /* 
  在css中定义变量的方法： --变量名:属性值; 示例：  --large-size: 50px;
  在css样式块中使用变量：  属性名: var(--变量名);   font-size: var(--large-size);
  */
  /* 提前定义一些变量 */
  /* 定义文字颜色 */
  --color-text: #666;
  /* 文字高亮的颜色 */
  --color-height-text: #ff5777;
  /* 导航等有区别性的背景颜色 */
  --color-tint: #ff8198;
  /* 背景颜色 */
  --color-background: #fff;
  --font-size: 14px;
  --line-height: 1.5;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Helvetica Neue', Helvetica, 'PingFang SC', 'Hiragino Sans GB',
    'Microsoft YaHei', '微软雅黑', Arial, sans-serif;
  user-select: none; /* 禁止用户鼠标在页面上选中文字/图片等 */
  -webkit-tap-highlight-color: transparent; /* webkit是苹果浏览器引擎，tap点击，highlight背景高亮，color颜色，颜色用数值调节 */
  background: var(--color-background);
  color: var(--color-text);
  /* rem vw/vh */
  width: 100vw;
}

a {
  color: var(--color-text);
  text-decoration: none;
}

.clear-fix::after {
  clear: both;
  content: '';
  display: block;
  width: 0;
  height: 0;
  visibility: hidden;
}

.clear-fix {
  zoom: 1;
}

.left {
  float: left;
}

.right {
  float: right;
}
